{% extends "fruitshop/base.html" %}
{% load static %}


{% block content %}

<body class="text-center" >

 <main class="form-signin w-100 m-auto">
<form action="{% url 'login'%}" method="POST">
    <img class="mb-4" src="{% static 'icon E-fruit.png'%}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
     {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    {% csrf_token %}
    <div class="card m-auto form-control" style="width:20rem" >
     <input type="text" name="username" placeholder="username"> <br>
    <input type="password" name="password" placeholder="Enter your password"> <br>
    <input type="submit" value="Login">

    </div>


</form>
 </main>
</body>
</html>

{% endblock %}